/* Custom Font */
@font-face 
{
    font-family: 'MyCustomFont';
    src: url('../../Fonts/BelongFaith-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Body */
body 
{
    font-family: 'MyCustomFont', sans-serif;
    color: none;
}